/venv/
/.idea/
/__pycache__/
/app/__pycache__/
/migrations/__pycache__/
/migrations/versions/__pycache__/
/test.py
/app/static/
/app/static/covers/
/app/static/config/
/app/templates/tags.html
/app/templates/test_tags.html
