{% extends "base.html" %}

{% block content %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="row">
    {% for book in books.items %}
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
            <div class="thumbnail">
                <img src="/static/{{book.cover}}"/>
            </div>
            <div class="caption">
                <p class="text">{{ book.book_name}}</p>
            </div>
        </div>
    {% endfor %}
    </div>

    <!-- Pagination Links-->
    <div class="text-right">
        <a href="{{ url_for('index', page=books.prev_num) }}"
           class="btn btn-outline-dark {% if books.page == 1 %}disabled{% endif %}">
            &laquo;
        </a>

        <!-- Loop through the number of pages to display a link for each-->
        {% for page_num in books.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                <!-- Check for the active page and set the link to "Active"-->
                {% if books.page == page_num %}
                    <a href="{{ url_for('index', page=page_num) }}" class="btn btn-dark">{{ page_num }}</a>
                {% else %}
                    <a href="{{ url_for('index', page=page_num) }}" class="btn btn-outline-dark">{{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}
        <a href="{{ url_for('index', page=books.next_num) }}"
           class="btn btn-outline-dark {% if books.page == books.pages %}disabled{% endif %}">
            &raquo;
        </a>
    </div>
    <p class="text-right mt-3">Showing page {{ books.page }} of {{ books.pages }}</p>
{% endblock %}