<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JavaScript input Event Demo</title>
</head>
<body>
    <input placeholder="Enter some text" id="message" />
    <div contenteditable="true" id="msg" class="ht">
       Текст для правки
    </div>
    <div contenteditable="true" id="msg" class="ht">
       Текст для правки
    </div>

    <p id="result"></p>
    <script>
      oldValue = "111"
      var ed = document.querySelectorAll('.ht')
      for (let div of ed){
         div.addEventListener( 'keydown', (evt) =>{
            var element = evt.target
            if (evt.keyCode == 13){
                evt.preventDefault();
                element.blur()
            }
            if (evt.keyCode == 27){
                element.textContent = oldValue;
                element.blur()
            }
         });
         div.addEventListener("focus", (evt) =>{
            var element = event.target;
	         oldValue = element.textContent;
         });
      }
    </script>
</body>
</html>