<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Test</title>
</head>
<body>
   <h3>Привет медведь</h3>
   <input type="file" id="flup" onchange="getfolder(event)" webkitdirectory mozdirectory msdirectory odirectory directory multiple />
	<div id="path"></div>
</body>
<script type="text/javascript">
	function getfolder(e) {
		var files = e.target.files;
		var path = files[0].webkitRelativePath;
		var Folder = path.split("/");
		var element = document.getElementById('path');
		element.textContent = path;
		alert(path);
}
</script>
</html>
